<footer class="footer">
	<div class="container">
		<section class="taskbar">
			<button class="start-button">Start</button>
			<ul class="taskbar-list">
				<li><a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Instagram" href="{{ site.linkedin }}" target="_blank">Instagram</a></li>
				<li><a title="Soundcloud" href="{{ site.linkedin }}" target="_blank">Soundcloud</a></li>
				<li><a title="MixCloud" href="{{ site.linkedin }}" target="_blank">Soundcloud</a></li>
			</ul>
			<div class="taskbar-clock">Now</div>
		</section>
	</div>
</footer>