{%- if include.preview -%}
  <h1 class="page-heading"><a href="/timeline/">Timeline</a></h1>
{%- else -%}
  <h1 class="page-heading">Timeline</h1>
{%- endif -%}

<div style="display: flex;">
  {%- unless include.preview -%}
    <div>
      <div id="slider"></div>
    </div>
  {%- endunless -%}

  <div style="flex-grow: 1;">
    {%- for event in site.data.timeline | limit: include.num_events -%}
      {%- if include.preview -%}
        <div class="timeline-event">
      {%- else -%}
        <div class="timeline-event" data-toggle="tooltip" title="{{ event.description }}">
      {%- endif -%}
        <h2>{{ event.name }}</h2>
        <p>{{ event.time }}</p>
        <p>{{ event.location }}</p>
      </div>
    {%- endfor -%}
  </div>
</div>