<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    {% if page.include.search %}
      {% include search.html %}
    {% endif %}

    {{ content }}

    <div class="wrapper">
      {% include posts.html 
        number_of_words=page.include.number_of_words 
        excerpts=page.include.excerpts 
        categories=page.include.categories 
        dates=page.include.dates %}
    </div>

    {% include footer.html %}
    
    {% include scripts.html %}
  </body>
</html>