{% raw %}
<div class="mermaid">
    flowchart
    DRI(fa:fa-user DRI)
    Queries[(fa:fa-filter Queries Repository)]
    Data(fa:fa-search Azure Data Explorer)
    Reports(fa:fa-chart-line Power BI Reports)
    Documentation[(fa:fa-book Documentation)]
    Playbook(fa:fa-tasks DRI Playbook)
    subgraph Team [fa:fa-users Team]
    DRI-->|Add|Documentation
    Documentation-->|Create|Playbook
    end
    subgraph Reporting [fa:fa-exclamation-circle Reporting/Analytics]
    DRI-->|Push|Queries
    Queries-->|Deploy|Data
    Data-->|Update|Reports
    Queries-->|Improve|Documentation
    end
</div>
{% endraw %}